html {
  font-size: 15px;
}

body {
  background-color: #1abc9c;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #2e3e4e;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
}

a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #0073e6; /* Color del enlace */
}

a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.tm-site-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 0;
}

.tooltip {
  display: inline;
  cursor: pointer;
}

.tooltip:hover::after {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  content: "En general, el análisis de precios de viviendas en condados de EE. UU. muestra una tendencia de aumento a lo largo del tiempo. La mayoría de los condados mantienen una estabilidad de precios, con pocos experimentando cambios significativos. Esto podría relacionarse con factores económicos y demanda constante en las áreas. Investigar las razones detrás de los cambios y realizar análisis geoespaciales puede proporcionar más perspicacia.";
  position: absolute;
  text-align: justify;
  background-color: #2e3e4e; /* Cambia el fondo del tooltip */
  color: #fff; /* Cambia el color del texto */
  padding: 10px; /* Aumenta el espacio alrededor del texto */
  border-radius: 5px;
  left: 1500px; /* Ajusta la posición horizontal */
  top: 300px; /* Ajusta la posición vertical */
  right: 80px;
  z-index: 1;
}

.tooltip2:hover::after {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  content: "Este grafico muestra el precio promedio de una vivienda por año de cada Condado.";
  text-align: center;
  background-color: rgb(0, 155, 148); /* Cambia el fondo del tooltip */
  color: #fff; /* Cambia el color del texto */
  padding: 5px; /* Aumenta el espacio alrededor del texto */
  border-radius: 5px;
  z-index: 1;
}

.tooltip3:hover::after {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  content: ".";
  position: absolute;
  text-align: justify;
  background-color: #2e3e4e; /* Cambia el fondo del tooltip */
  color: #fff; /* Cambia el color del texto */
  padding: 10px; /* Aumenta el espacio alrededor del texto */
  border-radius: 5px;
  left: 1500px; /* Ajusta la posición horizontal */
  top: 300px; /* Ajusta la posición vertical */
  right: 80px;
  z-index: 1;
}

.grid-container {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e3e4e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.item1 {
  grid-column: span 2;
  background-color: rgb(0, 155, 148);
}

.big {
  font-size: 1.2em;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
}

.mapa select{
  background-color: #2980b9;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}



footer {
  text-align: center;
  background-color: #2e3e4e;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.container {
  background-color: #255262;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
}

.select-box {
  padding: 5px;
  font-size: 17px;
  text-align: center;
  border: 3px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 0 0 20px;
}

.map {
  width: 100%;
  height: auto;
}